{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",

    "SafeHttpClientTimeout": "10",
    "SafeHttpClientAttemptTimeoutSeconds": "5",

    "EndpointUrl": "https://example.com"
  }
}
